body {
  font-family: 'Nunito Sans', sans-serif;
  color: #463d3d;
  background-color: #fff8e3;
  background-image: url('../assets/img/background.png');
  background-size: cover;
  margin: 20px;
  height: 100%;

  .side-by-side {
    display: flex;
    gap: 32px;
  }

  .heading {
    font-family: Gaegu;
    font-size: 40px;
    margin-bottom: 16px;
  }

  .description {
    margin-bottom: 20px;
  }

  .btn-primary {
    color: #fff;
    background-color: #463d3d;
    border: none;
    border-radius: 32px;
    font-family: Gaegu, sans-serif;
    padding: 8px 12px;
    font-size: 20px;
    min-width: 100px;

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .btn-primary:hover {
    background-color: #a17c6d;
  }

  a {
    text-decoration: none;
    color: #463d3d;
  }

  a:hover {
    text-decoration: none;
    color: #ea85e6;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  .lighbox-gallery {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;

      .col {
        position: relative;
        width: 100%;
      }

      img.grid-img,
      .img-fluid {
        width: 100%;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1040px) {
    .side-by-side {
      flex-direction: column;
      gap: 12px;
    }
  }

  @media (max-width: 850px) {
    .lighbox-gallery {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}
