body {
  font-family: 'Nunito Sans', sans-serif;
  color: #463d3d;
  background-color: #fff8e3;

  .side-by-side {
    display: flex;
    gap: 32px;

    main {
      margin-right: 28px;
    }
  }

  h2,
  .heading {
    font-family: Gaegu;
    font-size: 40px;
    margin: 16px 0px;
  }

  .btn-primary {
    color: #fff;
    background-color: #463d3d;
    border: none;
    border-radius: 32px;
    font-family: Gaegu, sans-serif;
    padding: 8px 12px;
    font-size: 20px;
    min-width: 100px;

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .btn-primary:hover {
    background-color: #a17c6d;
  }

  a {
    text-decoration: none;
    color: #463d3d;
  }

  a:hover {
    text-decoration: none;
    color: #ea85e6;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  .lighbox-gallery {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;
      margin-right: 12px;

      .col {
        position: relative;
        width: 100%;
      }

      img.grid-img,
      .img-fluid {
        width: 100%;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
